.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: aliceblue;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
                width: 60px;
            }

        }

        .navbar {
            ul {
                display: flex;
                gap: 20px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        .menu{
            display: none;
        }
    }
}

@media (max-width:900px) {
    .section {

        .container {
            width: 90%;

            .logo {
                h1{
                    font-size: 15px;
                }
                img{
                    width: 40px;
                }

            }

            .navbar {
                display: none;
            }
            .menu{
                display: block;
                button{
                    border: none;
                    background-color: aliceblue;
                }
                .menuNav{
                    ul {
                        padding: 20px 0;
                        gap: 20px;
        
                        li {
                            list-style: none;
        
                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}