.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://mobirise.com/extensions/naturalm4/natural-cosmetic/assets/images/background9.jpg');
    background-size: cover;
    background-repeat: no-repeat;


    .text {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
            color: rgb(61, 61, 61);
        }

        button {
            display: flex;
            justify-content: center;
            padding: 15px 30px;
            margin-top: 20px;
            background-color: transparent;
            border: 2px solid red;
        }
    }

    .imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;

        img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
        }
    }

}


@media screen and (min-width:700px) and (max-width:1024px) {

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;



        .text {
            width: 40%;
            height: auto;


            h1 {
                font-size: 40px;
            }

            p {
                font-size: 18px;
                color: rgb(61, 61, 61);
            }

            button {
                display: flex;
                justify-content: center;
                padding: 15px 30px;
                margin-top: 20px;
                background-color: transparent;
                border: 2px solid red;
            }
        }

        .imgs {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: auto;

            img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: auto;
            }
        }

    }

}

@media screen and (min-width:300px) and (max-width:700px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;




        .text {
            width: 50%;
    
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;


            h1 {
                font-size: 23px;
            }

            p {
                font-size: 13px;
                color: rgb(61, 61, 61);
            }

            button {
                display: flex;
                justify-content: center;
                padding: 5px 10px;
                margin-top: 20px;
                background-color: transparent;
                border: 2px solid red;
            }
        }

        .imgs {

            display: none;

            img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;   
            }
        }

    }

}